[submodule "projects/seymour"]
	path = projects/seymour
	url = https://github.com/harc/seymour.git
[submodule "projects/nl-datalog"]
	path = projects/nl-datalog
	url = https://github.com/harc/nl-datalog.git
[submodule "projects/relax-overveld"]
	path = projects/relax-overveld
	url = https://github.com/harc/relax-overveld.git
[submodule "projects/constraint-based-spreadsheet"]
	path = projects/constraint-based-spreadsheet
	url = https://github.com/harc/constraint-based-spreadsheet.git
#[submodule "projects/ohm"]
#	path = projects/ohm
#	url = https://github.com/harc/ohm.git
